block content
<!-- carosel -->
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="public\images\728.jpg" class="d-block w-100 "  alt="..." >
              </div>
              <div class="carousel-item">
                <img src="public\images\665.jpg" class="d-block w-100"  alt="..." >
              </div>
              <div class="carousel-item">
                <img src="public\images\731.jpg" class="d-block w-100" alt="..." >
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only"></span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only"></span>
            </a>
        </div>
<!-- menu -->
        <div class="menu-container">
                     <div id="m"><h1>Menu</h1></div>
        </div>
        <div class="container" style="background-color: black;">
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-4" style="padding-left: 10px;padding-right: 10px;">
                                <img src="public\images\312.jpg" alt="" style="width:inherit;min-height: 300px;">
                                <div class="text-center">
                                  <a href="/login"><button type="button"  class="btn btn-danger">ORDER NOW</button></a>
                                </div>
                            </div>
                            <!-- <div class="col-sm-1 col-md-1 col-lg-1" ></div> -->
                            <div class="col-sm-4 col-md-4 col-lg-4" style="padding-left: 10px;padding-right: 10px;">
                                <img src="public\images\8.jpg" alt="" style="width:inherit;min-height: 300px;">
                                <div class="text-center">
                                  <a href="/login"><button type="button"  class="btn btn-danger">ORDER NOW</button></a>
                                </div>
                            </div>
                            <!-- <div class="col-sm-1 col-md-1 col-lg-1" ></div> -->
                            <div class="col-sm-4 col-md-4 col-lg-4" style="padding-left: 10px;padding-right: 10px;">
                            <img src="public\images\307.jpg" alt="" style="width:inherit;min-height: 300px;" >
                            <div class="text-center">
                              <a href="/login"><button type="button"  class="btn btn-danger">ORDER NOW</button></a>
                            </div>
                            </div>
                            <!-- <div class="col-sm-1 col-md-1 col-lg-1" ></div> -->
                        </div>
        </div>
        <div class="container" style="background-color: black;">
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-4" style="padding-left: 10px;padding-right: 10px;padding-top: 50px;">
                                <img src="public\images\15542.jpg" alt="" style="width:inherit;min-height: 300px;">
                            <div class="text-center">
                                  <a href="/login"><button type="button"  class="btn btn-danger">ORDER NOW</button></a>
                            </div>
                            </div>
                            <!-- <div class="col-sm-1 col-md-1 col-lg-1" ></div> -->
                            <div class="col-sm-4 col-md-4 col-lg-4" style="padding-left: 10px;padding-right: 10px;padding-top: 50px;">
                                <img src="public\images\2812903.jpg" alt="" style="width:inherit;min-height: 300px;">
                                <div class="text-center">
                                  <a href="/login"><button type="button"  class="btn btn-danger">ORDER NOW</button></a>
                                </div>
                            </div>
                            <!-- <div class="col-sm-1 col-md-1 col-lg-1" ></div> -->
                            <div class="col-sm-4 col-md-4 col-lg-4" style="padding-left: 10px;padding-right: 10px;padding-top: 50px;">
                                <img src="public\images\4362465.jpg" alt="" style="width:inherit;min-height: 300px;">
                                <div class="text-center">
                                  <a href="/login"><button type="button"  class="btn btn-danger">ORDER NOW</button></a>
                                </div>
                            </div>
                            <!-- <div class="col-sm-1 col-md-1 col-lg-1" ></div> -->
                            
                        </div>
                        
                        
                        
        
                        
        </div>