<!-- Footer -->
                    <div class="contact-container">
                              <div id="c"><h1>Customer Support</h1></div>
                 
                    </div>
                    <footer class="page-footer font-small unique-color-dark">
        
        
            
                    <!-- Footer Links -->
                    <div class="container text-center text-md-left mt-5">
                      
                    <!-- Grid row -->
                    <div class="row mt-3">
                      
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                      
                    <!-- Content -->
                    <div id="f"><h6>COMPANY</h6></div>
                        <hr class=" deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto " style="width: 60px;">
                        <P id="l">  Privacy Policy <br>Contact Us</P>
                    </div>
                    <!-- Grid column -->
                      
                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                      
                    <!-- Links -->
                    <div id="f"><h6 class="">HELP</h6></div>
                        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; ">
                        <p>
                        <a id= "l" href="#!" >Track Your Order</a>
                        </p>
                        <p id="l">
                            Terms and Conditions
                        </p>
                              
                    </div>
                    <!-- Grid column -->
                      
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                      
                    <!-- Links -->
                    <div id="f"><h6>CUSTOMER SUPPORT</h6></div>
                        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                        <p>
                        <a id ="l"href="#!">Customer Service</a>
                        </p>
                        <p>
                        <a id ="l" href="#!">Give Feedback</a>
                        </p>
                             
                        <p id="l"> 
                            Disclaimer
                        </p>
                      
                    </div>
                    <!-- Grid column -->
                      
                    <!-- Grid column -->
                    <div id="Kanza" class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                      
                    <!-- Links -->
                    <div id="f"><h6> CONTACT</h6></div>
                        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                        <p id="l">
                            <i id ="m" class="fas fa-home mr-3"></i> Gullberg III, Lahore, Pakistan</p>
                        <p id="l">
                            <i id ="m" class="fas fa-envelope mr-3"></i> Flamehut517@gmail.com</p>
                        <p id="l">
                            <i id ="m" class="fas fa-phone mr-3"></i> 03334718500</p>
                        <p id="l">
                            <i id ="m" class="fas fa-print mr-3"></i> + 01 234 567 89</p>
                      
                    </div>
                    <!-- Grid column -->
                      
                    </div>
                    <!-- Grid row -->
                      
                    </div>
                    <!-- Footer Links -->
                    <!-- Footer -->
                    <footer class="page-footer font-small special-color-dark pt-4">
                    
                    <!-- Footer Elements -->
                    <div class="container">
                      
                    <!--Grid row-->
                    <div class="row">
                      
                          
                    <!--Grid column-->
                      
                           
                      
                    </div>
                    <!--Grid row-->
                      
                    </div>
                    <!-- Footer Elements -->
                      
                    <!-- Copyright -->
                    <div id="k"class="footer-copyright text-center py-3">© 2020 Copyright:
                          <a id="p"href="" > Flame Hut.com</a>
                    </div>
                        <!-- Copyright -->
                      
                    </footer>