<body style="background-color: black">
<!-- logo -->
<div class="logo-container">
<div class="col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
<img id="l" src="public\images\flamehut.png" alt="" width="250px" height="250px">
</div>
</div>
<!-- navbar -->
<div class="center">
<ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/aboutus">ABOUT US</a></li>
        <li><a href="/contactus">CONTACT US</a></li>
        <li><a href="/login">LOGIN</a></li>
        <li><a href="/register">SIGNUP</a></li>
        
</ul>
</div>
       
</body>

